<%- include ('partials/header') -%>
<h3>
	This is Show Template.
</h3>

<p>
	<%= campground.name %>
</p>
<img src = "<%= campground.image %>">
<p>
	<%= campground.description %>
</p>
<%- include ('partials/footer') -%>